body {
    color: #fff;
    background-color: #4F8BF9;
}

.stButton>button {
    /*color: #4F8BF9;*/
    border-radius: 2%;
    height: 3em;
    width: 100%;
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}
